<!DOCTYPE html>
<html>
  <head>
    <title>GoodreadsFullStack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript"> 
      window.title = "<%=  image_url('tit.png') %>"
      window.logo = "<%= image_url('head-title.png') %>"
      window.angels = "<%= image_url('angels.png') %>"
      window.code = "<%= image_url('code.png') %>"
      window.inferno = "<%= image_url('inferno-25.png') %>"
      window.origin = "<%= image_url('origin.ong.jpg') %>"
      window.symbol = "<%= image_url('symbol.png') %>"
      window.navBar = "<%= image_url('nav_bar.png') %>"
      window.back = "<%= image_url('back.png') %>"
      window.bookrow = "<%= image_url('bookrow.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
