<!DOCTYPE html>
<html>
  <head>
    <title>GoodreadsFullStack</title>
    <meta name="image" property="og:image" content="<%=  image_url('read.png') %>">
    <meta name="description" property="og:description" content="GoodreadsFullStack is a single-page applications and it is a clone of GoodReads application created using Ruby on Rails and SQL for the back end and React/Redux for the frontend">
    <meta name="author" content="Emina Ramovic">
    <link rel="shortcut icon" type="image/png" href="<%=  image_url('fav.png') %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script type="text/javascript"> 
      window.title = "<%=  image_url('tit.png') %>"
      window.logo = "<%= image_url('head-title.png') %>"
      window.angels = "<%= image_url('angels.png') %>"
      window.code = "<%= image_url('code.png') %>"
      window.inferno = "<%= image_url('inferno-25.png') %>"
      window.origin = "<%= image_url('origin.ong.jpg') %>"
      window.symbol = "<%= image_url('symbol.png') %>"
      window.navBar = "<%= image_url('nav_bar.png') %>"
      window.bookrow = "<%= image_url('bookrow.png') %>"
      window.or =  "<%= image_url('or.png') %>"
      window.profile = "<%= image_url('profile.png') %>"
      window.arr = "<%= image_url('arroe.png') %>"
      window.home = "<%= image_url('home.png') %>"
      window.arrow = "<%= image_url('arrow.png') %>"
      window.user = "<%= image_url('user.png') %>"
      window.first = "<%= image_url('first.png') %>"
      window.alex = "<%= image_url('alex.jpg') %>"
      window.biggest = "<%= image_url('biggest.jpg') %>"
      window.money = "<%= image_url('money.gif') %>"
      window.year = "<%= image_url('1987.jpg') %>"
      window.holmes = "<%= image_url('holmes.jpg') %>"
      window.mark = "<%= image_url('mark.jpg') %>"
      window.paulo = "<%= image_url('paulo.jpg') %>"

      window.curr = "<%= image_url('curr.png') %>"
      window.harry = "<%= image_url('harry.png') %>"
      window.out = "<%= image_url('out.png') %>"
      window.vege = "<%= image_url('vege.png') %>"
      window.veils = "<%= image_url('veils.png') %>"
      window.was = "<%= image_url('was.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
